
	<div id="project_content" >

      <div class="panel panel-primary">

        <div class="panel-heading">Create A Project</div>
        <div class="panel-body project-panel">
          <%= form_for @project, html: {role: "form"} do |f| %>

              <div class="form-group">
                <label for="title">Project Title</label>
                <%= f.text_field :title, placeholder: 'Your Project Title', class: "form-control" %>
              </div>

              <div class="form-group">
                <label for="video_duration">How, long do you want your video to be?</label>
                <div class="radio">


                  <%= f.radio_button :video_duration, '1.0', :checked => true, class: 'inline' %>
                  <%= label :video_duration, 'One Minute', class: 'inline' %>
                </div>
                <div class="radio">
                  <%= f.radio_button :video_duration, '2.0' %>
                  <%= label :video_duration, 'Two Minute' %>
                </div>

              </div>


              <div class="form-group">
                <label for="video_duration">Choose a style for your voiceover</label>
                <div class="radio">


                  <%= f.radio_button :voice_over, 'male', :checked => true %>
                  <%= label :voice_over, 'Male' %>
                </div>
                <div class="radio">
                  <%= f.radio_button :voice_over, 'female' %>
                  <%= label :voice_over, 'Female' %>
                </div>

              </div>

              <div class="form-group">
                <%= f.text_area :requirements, rows: "8", class: "form-control",  placeholder: "Type your message here..." %>

              </div>

              <div class="form-group">
                <%= f.submit "Create", class: "btn btn-primary" %>

              </div>


          <% end %>
        </div>
        <div class="panel-footer"></div>
      </div>

	</div>


