<div id="message_content">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div><span class="panel-title text-muted">Your Requirements</span>


        <span class="attachment"><% if @deliverables.count > 0 %>

            <div class="btn-group">

              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cloud-download"></span>
                <strong>Downloads<span class="caret"></span></strong>
              </button>

              <ul class="dropdown-menu">
                <% @deliverables.each do |deliverable| %>

                    <li> <%= link_to deliverable.document_file_name, deliverable.document.url %> </li>

                <% end %>
              </ul>
            </div>


           </span><% end %>

        <span class="attachment"><% if @assets.count > 0 %>


            <div class="btn-group">

              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-paperclip"></span>
                <strong>Attachments <span class="caret"></span></strong>
              </button>

              <ul class="dropdown-menu">
                <% @assets.each do |asset| %>

                    <li> <%= link_to asset.document_file_name, asset.document.url %> </li>

                <% end %>
              </ul>
            </div>


            </span><% end %>
        </div>
    </div>

    <div class="panel-body">
      <%= @requirements if @requirements %>
    </div>
  </div>


  <% if current_user.user_type == 'admin' %>

      <% if @project_status == 'Pending' %>

          <div class="panel panel-danger admin-panel">

      <% elsif @project_status== 'Processing' %>
          <div class="panel panel-warning admin-panel">
      <% else %>
          <div class="panel panel-success admin-panel">
      <% end %>

      <div class="panel-heading">
        <div><span class="panel-title text-muted">Project Status: <%= @project_status %></span><span class="attachment"><% if @deliverables.count > 0 %>

            <span class="glyphicon glyphicon-paperclip"></span>
            <div class="btn-group">

              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                Deliverables <span class="caret"></span>
              </button>

              <ul class="dropdown-menu">
                <% @deliverables.each do |deliverable| %>

                    <li> <%= link_to deliverable.document_file_name, deliverable.document.url %> </li>

                <% end %>
              </ul>
            </div>


              </span><% end %></div>
      </div>

      <div class="panel-body">
        <%= form_for(@project) do |f| %>
            <div class="form-group">
              <label for="project_status" class="control-label">Project Status</label>

              <div>
                <%= f.select :project_status, ['Pending', 'Processing', 'Complete'], class: "form-control" %>
              </div>


            </div>

            <div class="form-group">

              <label for="project_status" class="control-label">Deliver Completed Video</label>

              <div>
                <%= f.fields_for :deliverables do |d| %>

                    <div class="row file-row">
                      <div class="col-sm-4"><%= d.file_field :document, class: "form-control" %></div>

                    </div>
                <% end %>

              </div>


            </div>

            <div class="form-group">

              <% if @project_status == 'Pending' %>

                  <%= f.submit "Submit", class: "btn btn-danger" %>

              <% elsif @project_status== 'Processing' %>
                  <%= f.submit "Submit", class: "btn btn-warning" %>
              <% else %>
                  <%= f.submit "Submit", class: "btn btn-success" %>
              <% end %>




            </div>

        <% end %>

      </div>
      </div>

  <% end %>



  <% if @messages %>
      <% @messages.each do |message| %>

          <% if message.user.user_type == "admin" %>
              <div class="panel panel-warning">
          <% else %>
              <div class="panel panel-success">
          <% end %>

          <div class="panel-heading">
            <h3 class="panel-title"><%= message.user.name %><span class="message-date"><%= message.created_at %></span>
            </h3>
          </div>

          <div class="panel-body">
            <%= simple_format(message.content) %>
          </div>


          </div>
      <% end %>
  <% end %>


  <div class="well">

    <div class="panel-heading"><h3 class="panel-title">Discuss Your Project</h3></div>
    <div class="panel-body project-panel">
      <%= form_for @message, html: {role: "form", multipart: true} do |f| %>

          <div class="form-group">
            <%= f.text_area :content, rows: "8", class: "form-control", placeholder: "Type your message here..." %>

          </div>

          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-success" %>

          </div>

          <%= f.hidden_field :project_id, value: @project_id %>

      <% end %>
    </div>
  </div>
  </div>
  </div>